body{
    background: #7F8C8D;
}
.controls{
    padding-top:10px;
    border-bottom: 3px solid #34495C;
}
.control-btn{
}
.control-btn .btn{
    font-size:14px;  
    padding-top: 10px;
    padding-bottom: 10px;  
}
.container-fluid {
    padding-right: 0px;
}
#video{
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.play-pause{
    background: url("../images/video/play.png") center 15px no-repeat;
    background-size: 16px 64px;
    height: 47px;
    width: 64px;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    -webkit-backface-visibility: hidden;
    cursor:pointer;
    float:left;
}
.play-pause.pause{
    background: url("../images/video/pause.png") center 15px no-repeat;
}
.play-pause:hover{
    opacity: 0.5;
}
.video-control{    
    background-color:#2C3E50;
}
.video-control.row{
    margin:0;
}
.canvas{
    padding-top:10px;
}
.canvas .tile{
    
}
.dk_container{
    margin-bottom:0;
}
.canvas .select{
    padding-top:4px;
    margin-right: 5px;
    float: right;
}
.restart{
    float:left;
    width:64px;
    padding-top: 7px;
    font-size: 25px;
}
.restart i{
    color:#1abc9c;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    -webkit-backface-visibility: hidden;
    cursor:pointer;
}
.restart i:hover{
    opacity: 0.5;
}
a {
    text-decoration:none;
    font-weight:bold;
}
.footer_elem{
    color:white;
}
.nav li{
    padding:8px;
    font-size:14px;
}
.nav{
    width:100%;
}
.nav li:last-of-type{
    float:right;
}

